header {
	background: #563c55 url(../imgs/header02.jpg) no-repeat center top;
    -webkit-background-size: cover;
	height: 7em;
	color: red;
}


html{
	background: black;
	padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
}

#comic_search{
	vertical-align: right;
}


h1{
	text-align: center;
	font-size: 50px;
}

li {
	display: inline-block;
	padding-bottom: 25px;
	margin: 1px;
}

li figure{
	margin: 0;
}

li figure img{
	border: 1px solid black;
    width: 200px;
    height: 300px;
}

li figure:hover {
	-webkit-transform: scale3d(1.4, 1.4, 2);
    transform: scale3d(1.4, 1.4, 2);
  }

#filtros {
	line-height:30px;
    padding:5px;	      
	border: 1px solid black;
	float: left;
	height: 300px;
	width: 150px;
}

#comics {
	clear: left;
	border: 1px solid;
	padding-left: 20px;
	padding-top: 0px;
	margin-top: 0px;

}

#search_panel{
	float: left;
    padding-top: 10px;
    margin-bottom: 0;
    margin-left: 60px;
    margin-right: 50px;
}

input, select{
	padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

#loged_usr {
	text-decoration: none;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: grey;	
	padding: 15px;
}

#userinfo {
	float: right;
    padding-top: 10px;
    margin-bottom: 0;
    margin-left: 60px;
    margin-right: 50px;

}

#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



#content .user_data {
	display: block;

}


#content .user_data label{
	display: inline-block;
	
}



/* Modal Content */
.modal-content {
	position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 30%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#usr_info {
	position: relative;
	margin: auto;
	padding-top: 0px;
}

#usr_info #info_header{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	background-color: #1574B5;

}

#usr_info  label{
	padding: 10px;
	display: block;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	
}

#usr_info #info_header label{
	padding: 10px;
	display: block;
	color: white;
	font-weight: bold;
	font-size: 30px;
	font-family: Century Gothic, sans-serif;
}